<figure class="w-full relative">
  <% if video_file.thumbnail_url.present? %>
    <%= image_tag(
      video_file.thumbnail_url,
      width: 1280,
      height: 720,
class: "w-full h-auto"
    ) %>
  <% else %>
    <!-- 16:9 aspect ratio via padding -->
    <div class="bg-black block w-full h-0 pt-[56.25%]">
    </div>
  <% end %>
</figure>
